@charset "UTF-8";

// overrided variables

$color-primary-base: $grey;
$color-accent-base: $amber;

$color-primary: color($color-primary-base, 900);
$color-primary-hover: darken(color($color-primary-base, 900), 3);
$color-primary-active: darken(color($color-primary-base, 900), 6);

$color-accent: color($color-accent-base, a700);
$color-accent-hover: darken(color($color-accent-base, a700), 3);
$color-accent-active: darken(color($color-accent-base, a700), 6);

//$color-primary-light: color($color-primary-base, 400) !default;
//$color-primary-light-hover: color($color-primary-base, 300) !default;
//$color-primary-light-active: color($color-primary-base, 200) !default;

$color-accent-light: color($color-accent-base, a700);
$color-accent-light-hover: lighten(color($color-accent-base, a700), 3);
$color-accent-light-active: lighten(color($color-accent-base, a700), 3);
