@charset "UTF-8";

html, body { height: 100%; margin: 0; padding: 0; }

#page { justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-grid-row-align: center; align-items: center; }

#logo-box { width: 320px; height: 320px; }

.st0 { fill: #cfd8dc; }
.maintenance-info { text-align: center; }
