/* break points */
/* mixins and functions */
/* break points */
/* mixins and functions */
.theme-dark {
  color: #FFF;
  background: #303030; }
  .theme-dark a {
    color: #ffab00; }
    .theme-dark a:hover {
      color: #ffb00f; }
    .theme-dark a:active {
      color: #ffb00f; }
  .theme-dark article a[href^="#"]:not([href="#"]):not(.btn) {
    border-color: #ffab00; }
    .theme-dark article a[href^="#"]:not([href="#"]):not(.btn):hover {
      border-color: #ffb00f; }
    .theme-dark article a[href^="#"]:not([href="#"]):not(.btn):active {
      border-color: #ffb00f; }
  .theme-dark article blockquote {
    color: rgba(255, 255, 255, 0.7); }
  .theme-dark table {
    background: #424242;
    border-color: #585858 !important; }
  .theme-dark tr {
    border-color: #585858; }
  .theme-dark tr.selected {
    background: #4c4c4c; }
  .theme-dark tr:hover, .theme-dark tr.selected:hover {
    background: #515151; }
  .theme-dark th {
    color: rgba(255, 255, 255, 0.7); }
  .theme-dark .table-bordered {
    box-shadow: 0 0 0 1px #585858; }
  .theme-dark .table-striped tbody tr:nth-child(even) {
    background: #474747; }
  .theme-dark .table-striped tbody tr:nth-child(even):hover, .theme-dark .table-striped tbody tr.selected:nth-child(even):hover {
    background: #515151; }
  .theme-dark .table-striped tbody tr.selected:nth-child(even) {
    background: #4c4c4c; }
  .theme-dark .table-responsive td:before {
    color: rgba(255, 255, 255, 0.7); }
  .theme-dark :not(pre) > code, .theme-dark pre {
    background: #212121; }
  .theme-dark .rippleAnimate {
    background-color: rgba(255, 255, 255, 0.1); }
  .theme-dark .text-secondary {
    color: rgba(255, 255, 255, 0.7); }
  .theme-dark .text-disabled {
    color: rgba(255, 255, 255, 0.3); }
  .theme-dark .text-primary, .theme-dark a.text-primary, .theme-dark a.text-primary:hover, .theme-dark a.text-primary:focus {
    color: #bdbdbd; }
  .theme-dark .text-accent, .theme-dark a.text-accent, .theme-dark a.text-accent:hover, .theme-dark a.text-accent:focus {
    color: #ffab00; }
  .theme-dark .material-icons.text-accent {
    color: #ffab00; }
  .theme-dark .divider-top {
    border-top-color: rgba(255, 255, 255, 0.12); }
  .theme-dark .divider-bottom {
    border-bottom-color: rgba(255, 255, 255, 0.12); }
  .theme-dark .highlight {
    background: #212121; }
  .theme-dark .info, .theme-dark .messages-error {
    background: #212121; }
    .theme-dark .info:before, .theme-dark .messages-error:before {
      color: #bdbdbd; }
  .theme-dark #footer {
    background: #212121; }
  .theme-dark .btn, .theme-dark input[type="submit"] {
    color: #FFF; }
    .theme-dark .btn:hover, .theme-dark .btn:focus, .theme-dark input[type="submit"]:hover, .theme-dark input[type="submit"]:focus {
      background: rgba(204, 204, 204, 0.15);
      color: #FFF; }
    .theme-dark .btn:active, .theme-dark input[type="submit"]:active {
      background: rgba(204, 204, 204, 0.25); }
  .theme-dark .btn-colored, .theme-dark .btn-colored:hover, .theme-dark .btn-colored:focus,
  .theme-dark .btn.btn-colored, .theme-dark .btn.btn-colored:hover, .theme-dark .btn.btn-colored:focus {
    color: #bdbdbd; }
  .theme-dark .btn-accent, .theme-dark .btn-accent:hover, .theme-dark .btn-accent:focus,
  .theme-dark .btn.btn-accent, .theme-dark .btn.btn-accent:hover, .theme-dark .btn.btn-accent:focus {
    color: #ffab00; }
  .theme-dark .btn-raised, .theme-dark .btn.btn-raised {
    background: rgba(255, 255, 255, 0.05); }
    .theme-dark .btn-raised.btn-colored, .theme-dark .btn.btn-raised.btn-colored {
      background: #bdbdbd;
      color: rgba(0, 0, 0, 0.87); }
    .theme-dark .btn-raised.btn-accent, .theme-dark .btn.btn-raised.btn-accent {
      background: #ffab00;
      color: rgba(0, 0, 0, 0.87); }
    .theme-dark .btn-raised.btn-colored:hover, .theme-dark .btn-raised.btn-colored:focus, .theme-dark .btn.btn-raised.btn-colored:hover, .theme-dark .btn.btn-raised.btn-colored:focus {
      background: #e0e0e0;
      color: rgba(0, 0, 0, 0.87); }
    .theme-dark .btn-raised.btn-colored:active, .theme-dark .btn.btn-raised.btn-colored:active {
      background: #eeeeee; }
    .theme-dark .btn-raised.btn-accent:hover, .theme-dark .btn-raised.btn-accent:focus, .theme-dark .btn.btn-raised.btn-accent:hover, .theme-dark .btn.btn-raised.btn-accent:focus {
      background: #ffb00f;
      color: rgba(0, 0, 0, 0.87); }
    .theme-dark .btn-raised.btn-accent:active, .theme-dark .btn.btn-raised.btn-accent:active {
      background: #ffb00f; }
  .theme-dark .btn-disabled {
    color: rgba(255, 255, 255, 0.3); }
    .theme-dark .btn-disabled:hover, .theme-dark .btn-disabled:focus, .theme-dark .btn-disabled:active {
      background: none;
      color: rgba(255, 255, 255, 0.3); }
  .theme-dark .fab {
    color: #FFF; }
    .theme-dark .fab:hover, .theme-dark .fab:focus {
      background: rgba(204, 204, 204, 0.15);
      color: #FFF; }
    .theme-dark .fab:active {
      background: rgba(204, 204, 204, 0.25); }
    .theme-dark .fab.fab-colored {
      background: #bdbdbd;
      color: rgba(0, 0, 0, 0.87); }
      .theme-dark .fab.fab-colored:hover, .theme-dark .fab.fab-colored:focus {
        background: #e0e0e0;
        color: rgba(0, 0, 0, 0.87); }
      .theme-dark .fab.fab-colored:active {
        background: #eeeeee; }
    .theme-dark .fab.fab-accent {
      background: #ffab00;
      color: rgba(0, 0, 0, 0.87); }
      .theme-dark .fab.fab-accent:hover, .theme-dark .fab.fab-accent:focus {
        background: #ffb00f;
        color: rgba(0, 0, 0, 0.87); }
      .theme-dark .fab.fab-accent:active {
        background: #ffb00f; }
  .theme-dark .tooltip:before {
    background: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.87); }
  .theme-dark .form-item label, .theme-dark .form-item .description {
    color: rgba(255, 255, 255, 0.7); }
  .theme-dark .form-item label.option, .theme-dark .form-item.focused label.option {
    color: #FFF; }
  .theme-dark .form-item.focused label {
    color: #ffab00; }
  .theme-dark .form-item input, .theme-dark .form-item textarea, .theme-dark .form-item select {
    color: #FFF; }
  .theme-dark .form-item select option {
    color: rgba(0, 0, 0, 0.87); }
  .theme-dark .form-item input[type="text"], .theme-dark .form-item input[type="email"], .theme-dark .form-item input[type="password"], .theme-dark .form-item input[type="search"], .theme-dark .form-item input[type="tel"], .theme-dark .form-item textarea, .theme-dark .form-item select {
    border-bottom-color: rgba(255, 255, 255, 0.12); }
    .theme-dark .form-item input[type="text"]:focus, .theme-dark .form-item input[type="text"].error:focus, .theme-dark .form-item input[type="email"]:focus, .theme-dark .form-item input[type="email"].error:focus, .theme-dark .form-item input[type="password"]:focus, .theme-dark .form-item input[type="password"].error:focus, .theme-dark .form-item input[type="search"]:focus, .theme-dark .form-item input[type="search"].error:focus, .theme-dark .form-item input[type="tel"]:focus, .theme-dark .form-item input[type="tel"].error:focus, .theme-dark .form-item textarea:focus, .theme-dark .form-item textarea.error:focus, .theme-dark .form-item select:focus, .theme-dark .form-item select.error:focus {
      border-bottom-color: #ffab00; }
    .theme-dark .form-item input[type="text"]:-ms-input-placeholder, .theme-dark .form-item input[type="email"]:-ms-input-placeholder, .theme-dark .form-item input[type="password"]:-ms-input-placeholder, .theme-dark .form-item input[type="search"]:-ms-input-placeholder, .theme-dark .form-item input[type="tel"]:-ms-input-placeholder, .theme-dark .form-item textarea:-ms-input-placeholder, .theme-dark .form-item select:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.3); }
    .theme-dark .form-item input[type="text"]::-ms-input-placeholder, .theme-dark .form-item input[type="email"]::-ms-input-placeholder, .theme-dark .form-item input[type="password"]::-ms-input-placeholder, .theme-dark .form-item input[type="search"]::-ms-input-placeholder, .theme-dark .form-item input[type="tel"]::-ms-input-placeholder, .theme-dark .form-item textarea::-ms-input-placeholder, .theme-dark .form-item select::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.3); }
    .theme-dark .form-item input[type="text"]::placeholder, .theme-dark .form-item input[type="email"]::placeholder, .theme-dark .form-item input[type="password"]::placeholder, .theme-dark .form-item input[type="search"]::placeholder, .theme-dark .form-item input[type="tel"]::placeholder, .theme-dark .form-item textarea::placeholder, .theme-dark .form-item select::placeholder {
      color: rgba(255, 255, 255, 0.3); }
  .theme-dark .form-item input[type="radio"], .theme-dark .form-item input[type="checkbox"] {
    color: rgba(255, 255, 255, 0.7); }
  .theme-dark .form-item input[type="checkbox"]:checked:before {
    color: #ffab00; }
  .theme-dark .form-item input[type="radio"]:checked:before {
    color: #ffab00; }
  .theme-dark .form-item.form-type-select:after {
    color: rgba(255, 255, 255, 0.7); }
  .theme-dark #drawer {
    background: #303030;
    border-right-color: #303030; }
    .drawer-open .theme-dark #drawer {
      border-right-color: rgba(255, 255, 255, 0.12); }
    .theme-dark #drawer #drawer-menu-close a {
      color: #FFF; }
    .theme-dark #drawer #drawer-title {
      color: rgba(255, 255, 255, 0.7); }
    .theme-dark #drawer .menu li a {
      color: #FFF; }
      .theme-dark #drawer .menu li a:hover {
        background: #515151; }
      .theme-dark #drawer .menu li a.icon-left:before, .theme-dark #drawer .menu li a.icon-right:after {
        color: rgba(255, 255, 255, 0.7); }
      .theme-dark #drawer .menu li a.services-icon-left:before, .theme-dark #drawer .menu li a.services-icon-right:after {
        background: rgba(255, 255, 255, 0.7); }
    .theme-dark #drawer .menu .active-trail a, .theme-dark #drawer .menu .is-active {
      color: #bdbdbd; }
      .theme-dark #drawer .menu .active-trail a.icon-left:before, .theme-dark #drawer .menu .active-trail a.icon-right:after, .theme-dark #drawer .menu .is-active.icon-left:before, .theme-dark #drawer .menu .is-active.icon-right:after {
        color: #bdbdbd; }
      .theme-dark #drawer .menu .active-trail a.services-icon-left:before, .theme-dark #drawer .menu .active-trail a.services-icon-right:after, .theme-dark #drawer .menu .is-active.services-icon-left:before, .theme-dark #drawer .menu .is-active.services-icon-right:after {
        background: #bdbdbd; }
  .theme-dark .sidebar .menu li a {
    color: #FFF; }
    .theme-dark .sidebar .menu li a:hover {
      background: #515151; }
  .theme-dark .sidebar .menu li a.is-active {
    color: #bdbdbd; }
  .theme-dark .sidebar .menu .collapsed > a:after, .theme-dark .sidebar .menu .expanded > a:after {
    color: rgba(255, 255, 255, 0.7); }
  .theme-dark .block-search.search-persistent form .form-item.focused input[type="text"], .theme-dark .block-search.search-persistent form input[type="search"] {
    color: rgba(0, 0, 0, 0.87); }
    .theme-dark .block-search.search-persistent form .form-item.focused input[type="text"]:-ms-input-placeholder, .theme-dark .block-search.search-persistent form input[type="search"]:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.26); }
    .theme-dark .block-search.search-persistent form .form-item.focused input[type="text"]::-ms-input-placeholder, .theme-dark .block-search.search-persistent form input[type="search"]::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.26); }
    .theme-dark .block-search.search-persistent form .form-item.focused input[type="text"]::placeholder, .theme-dark .block-search.search-persistent form input[type="search"]::placeholder {
      color: rgba(0, 0, 0, 0.26); }
  .theme-dark .tabs ul li a, .theme-dark ul.tabs li a {
    color: rgba(255, 255, 255, 0.7); }
    .theme-dark .tabs ul li a:hover, .theme-dark ul.tabs li a:hover {
      border-color: rgba(189, 189, 189, 0.5); }
    .theme-dark .tabs ul li a.is-active, .theme-dark ul.tabs li a.is-active {
      border-color: #bdbdbd;
      color: #bdbdbd; }
      .theme-dark .tabs ul li a.is-active:hover, .theme-dark ul.tabs li a.is-active:hover {
        border-color: #bdbdbd; }
  .theme-dark .card {
    background: #424242; }
  .theme-dark .card-main {
    border-bottom-color: rgba(255, 255, 255, 0.12);
    background: #424242; }
  .theme-dark.content-card .card-holder {
    background: #424242; }
  .theme-dark .card-bg-primary {
    background: #212121;
    color: #FFF; }
  .theme-dark .card-bg-accent {
    background: #ffab00;
    color: rgba(0, 0, 0, 0.87); }
  .theme-dark .collapsible-toggle:before {
    color: rgba(255, 255, 255, 0.7); }
  .theme-dark .collapsible-toggle span {
    color: #ffab00;
    border-color: #ffab00; }
    .theme-dark .collapsible-toggle span:hover {
      color: #ffb00f;
      border-color: #ffb00f; }
    .theme-dark .collapsible-toggle span:active {
      color: #ffb00f;
      border-color: #ffb00f; }
  .theme-dark .collapsible-content {
    border-color: rgba(255, 255, 255, 0.12); }
  .theme-dark .menu-dropdown {
    background: #424242; }
    .theme-dark .menu-dropdown li a {
      color: #FFF; }
      .theme-dark .menu-dropdown li a:hover {
        background: #515151;
        color: #FFF; }
  .theme-dark .pager .pager-item.item-ellipsis > a:before, .theme-dark .pager .pager-item.item-ellipsis > span:before, .theme-dark .pager .pager-item.item-current > a:before, .theme-dark .pager .pager-item.item-current > span:before {
    color: rgba(255, 255, 255, 0.3); }
  .theme-dark .pager .pager-item.item-current > a, .theme-dark .pager .pager-item.item-current > span {
    color: #bdbdbd; }
  .theme-dark .pager .pager-item.item-first > span:before, .theme-dark .pager .pager-item.item-previous > span:before, .theme-dark .pager .pager-item.item-next > span:before, .theme-dark .pager .pager-item.item-last > span:before {
    color: rgba(255, 255, 255, 0.3); }
  .theme-dark .card-actions .pager .pager-item.item-previous > a:before, .theme-dark .card-actions .pager .pager-item.item-next > a:before {
    color: #FFF; }
  .theme-dark .card-actions .pager-summary {
    color: rgba(255, 255, 255, 0.7); }
  .theme-dark .messages-status {
    background: #1b5e20; }
    .theme-dark .messages-status:before {
      color: #66bb6a; }
    .theme-dark .messages-status a {
      color: #00c853; }
      .theme-dark .messages-status a:hover {
        color: #00d759; }
      .theme-dark .messages-status a:active {
        color: #00e760; }
  .theme-dark .messages-warning {
    background: #f57f17; }
    .theme-dark .messages-warning:before {
      color: #ffee58; }
    .theme-dark .messages-warning a {
      color: #ffff00; }
      .theme-dark .messages-warning a:hover {
        color: #ffff0f; }
      .theme-dark .messages-warning a:active {
        color: #ffff1f; }
  .theme-dark .messages-error {
    background: #b71c1c; }
    .theme-dark .messages-error:before {
      color: #e57373; }
    .theme-dark .messages-error a {
      color: #ff8a80; }
      .theme-dark .messages-error a:hover {
        color: #ff988f; }
      .theme-dark .messages-error a:active {
        color: #ffa69f; }

/*# sourceMappingURL=../css/theme-dark.css.map */
