{% set metro = node.field_metro.entity.field_machine_name.value %}

<article{{ attributes }}>

  {{ title_prefix }}

  <div class="navigation-secondary">
    <div class="nav-parent"><a href="/{{ metro }}/bridges">{{ 'Bridges'|t }}</a></div>
  </div>

  <div class="article-title">
    <h1{{ title_attributes }}>{{ content.field_display_title|without('#theme') }}</h1>
  </div>

  {{ title_suffix }}

  <div{{ content_attributes }}>
    {{ content|without('field_display_title', 'field_from_station', 'field_to_station', 'field_status', 'body') }}
    {% if (not node.field_from_station.isEmpty) and (not node.field_from_station.isEmpty) %}
      <div class="field field-label-inline group-stage">
        <div class="field-label">{{ 'Stage'|t }}</div>
        {{ content.field_from_station|without('#theme') }} — {{ content.field_to_station|without('#theme') }}
      </div>
    {% endif %}

    {% if not node.field_status.isEmpty %}
      <div class="field field-name-field-status field-type-entity-reference field-label-inline">
        <div class="field-label">{{ node.field_status.fieldDefinition.label }}</div>
        <div class="field-item"><a href="/{{ metro ~ '/statistics/' ~ node.field_status.entity.field_machine_name.value }}" property="schema:additionalProperty" hreflang="ru">{{ node.field_status.entity.label }}</a></div>
      </div>
    {% endif %}

    {{ content.body }}
  </div>

</article>
