{% set metro = node.field_metro.entity.field_machine_name.value %}

<article{{ attributes }}>

  {{ title_prefix }}

  {% if not node.field_image.isEmpty %}
    <div class="article-image">
      <div class="img-responsive-wrapper">
        {{ node.field_image[0] | view('image') }}
      </div>
    </div>
  {% endif %}

  <div class="navigation-secondary clearfix">
    {{ drupal_block('prevnext_station_block', wrapper=false) }}
  </div>

  <div class="article-title">
    <h1{{ title_attributes }}>{{ 'Station'|t }} {{ label }}</h1>
    <div class="line-label line-{{ node.field_metro.entity.field_machine_name.value }}-{{ node.field_line.entity.field_id.value }}" data-label="{{ node.field_line.entity.field_subtitle.value }}"></div>
  </div>

  {{ title_suffix }}

  <div class="article-subheading">
    <div class="line-group">
      {{ content.field_line }}
      {{ content.field_metro }}
    </div>
    {{ content.field_date_open }}
    {{ content.field_date_open_text }}
    {{ content.field_temporary_close }}
    {{ content.field_date_close }}
    {{ content.field_expected_open }}
  </div>
  {% if node.field_image.value or node.field_scheme.value %}
    <div class="article-images photoswipe-gallery">
      {# content.field_image|without('#theme') #}
      {% for key, item in content.field_image if key|first != '#' %}
        <div class="field-item field-name-field-image">{{ item }}</div>
      {% endfor %}
      {{ content.field_scheme }}
    </div>
  {% endif %}
  <div{{ content_attributes.addClass('article-section') }}>
    {{ content|without('field_line', 'field_metro', 'field_date_open', 'field_date_open_text', 'field_temporary_close', 'field_date_close', 'field_expected_open', 'field_image', 'field_scheme', 'field_construction', 'field_construction_deepness', 'field_platform_type', 'field_platform_long', 'field_platform_width', 'field_heigh', 'field_deepness', 'field_status', 'body') }}

    {% if not node.field_construction.isEmpty %}
      <div class="field field-name-field-construction field-type-entity-reference field-label-inline">
        <div class="field-label">{{ node.field_construction.fieldDefinition.label }}</div>
        <div class="field-items">
          {% for key, value in node.field_construction.value %}
            <div class="field-item"><a href="/{{ metro ~ '/statistics/' ~ node.field_construction[key].entity.field_machine_name.value }}" property="schema:additionalProperty" hreflang="ru">{{ node.field_construction[key].entity.label }}</a></div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if not node.field_construction_deepness.isEmpty %}
      <div class="field field-name-field-construction-deepness field-type-entity-reference field-label-inline">
        <div class="field-label">{{ node.field_construction_deepness.fieldDefinition.label }}</div>
        <div class="field-item"><a href="/{{ metro ~ '/statistics/' ~ node.field_construction_deepness.entity.field_machine_name.value }}" property="schema:additionalProperty" hreflang="ru">{{ node.field_construction_deepness.entity.label }}</a></div>
      </div>
    {% endif %}

    {% if not node.field_platform_type.isEmpty %}
      <div class="field field-name-field-platform-type field-type-entity-reference field-label-inline">
        <div class="field-label">{{ node.field_platform_type.fieldDefinition.label }}</div>
        <div class="field-items">
          {% for key, value in node.field_platform_type.value %}
            <div class="field-item"><a href="/{{ metro ~ '/statistics/' ~ node.field_platform_type[key].entity.field_machine_name.value }}" property="schema:additionalProperty" hreflang="ru">{{ node.field_platform_type[key].entity.label }}</a></div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {{ content.field_platform_long }}
    {{ content.field_platform_width }}
    {{ content.field_heigh }}
    {{ content.field_deepness }}

    {% if not node.field_status.isEmpty %}
      <div class="field field-name-field-status field-type-entity-reference field-label-inline">
        <div class="field-label">{{ node.field_status.fieldDefinition.label }}</div>
        <div class="field-item"><a href="/{{ metro ~ '/statistics/' ~ node.field_status.entity.field_machine_name.value }}" property="schema:additionalProperty" hreflang="ru">{{ node.field_status.entity.label }}</a></div>
      </div>
    {% endif %}

    {{ drupal_view('station_stages', 'block') }}
    {{ content.body }}
  </div>

</article>
