{% set metro = node.field_metro.entity.field_machine_name.value %}

<article{{ attributes }}>

  {{ title_prefix }}

  <div class="navigation-secondary">
    <div class="nav-parent"><a href="/{{ metro }}/depots">{{ 'Depots'|t }}</a></div>
  </div>

  <div class="article-title">
    <h1{{ title_attributes }}>{{ 'Depot'|t }} {{ label }}</h1>
  </div>

  {{ title_suffix }}

  <div{{ content_attributes }}>
    {{ content|without('field_status', 'body') }}

    {% if not node.field_status.isEmpty %}
      <div class="field field-name-field-status field-type-entity-reference field-label-inline">
        <div class="field-label">{{ node.field_status.fieldDefinition.label }}</div>
        <div class="field-item"><a href="/{{ metro ~ '/statistics/' ~ node.field_status.entity.field_machine_name.value }}" property="schema:additionalProperty" hreflang="ru">{{ node.field_status.entity.label }}</a></div>
      </div>
    {% endif %}

    {{ content.body }}
  </div>

</article>
